@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor-fundo: #1A1A1A; /* Fundo escuro (grafite) */
    --cor-texto: #F5F5F5; /* Texto claro */
    --cor-destaque: #FF0000; /* Vermelho para títulos ou elementos importantes */
    --cor-links: #FFD700; /* Dourado para links e botões */
    --cor-hover: #00BFFF; /* Azul claro para hover */
    --font-titulos: "Bebas Neue", sans-serif;
    --font-padrao: "Open Sans", sans-serif;
}
header{
    background-color: #1B263B;
}
header section.cabeca{
    display: flex;
    width: 100%;
    height: 100%;
}
header section div.atual img{
    width: 100%;
    height: 100%;
}
header section p{
    font-family: var(--font-padrao);
    color: var(--cor-texto);
    font-size: 1.5rem;
    text-align: justify;
    margin: 20px;
    width: 100%;
    height: auto;
}
header nav{
    background-color: var(--cor-fundo);
    border: 1px solid rgba(0, 0, 0, 0.418);
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}
header nav a{
    font-family: var(--font-titulos);
    color: var(--cor-links);
    text-decoration: none;
    font-size: 2rem;
    padding: 10px;
}
header nav a:hover{
    font-size: 2.5rem;
    color: var(--cor-destaque);
}
header img{
    width: 100%;
    height: auto;
}
body{
    background-color: var(--cor-fundo);
}
main p{
    font-family: var(--font-padrao);
    color: var(--cor-texto);
    font-size: 1.5rem;
}
strong{
    color: var(--cor-destaque)
}
section#sobre-infancia{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
}
section div.infancia img{
    width: 100%;
    height: auto;
}
section#sobre-infancia p{
    text-align: left;
    padding: 20px;
    width: 100%;
    height: 100%;    
}
section#fisioculturimo{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
}
section div.fisio img{
    width: 100%;
    height: auto;
}
section#fisioculturimo p{
    text-align: left;
    padding: 20px;
    width: 100%;
    height: 100%;
}
section#hollywood{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
}
section div.holly img{
    width: 100%;
    height: auto;
}
section#hollywood p{
    text-align: left;
    padding: 20px;
    width: 100%;
    height: 100%;
}
section#governo{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
}
section div.governador img{
    width: 100%;
    height: auto;
}
section#governo p{
    text-align: left;
    padding: 20px;
    width: 100%;
    height: 100%;
}
footer p{
    background-color: #1B263B;
    color: var(--cor-texto);
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}
footer p a{
    text-decoration: none;
    color: white;
}
footer p a:hover{
    text-decoration: underline;
}


