@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor-fundo: #1A1A1A; /* Fundo escuro (grafite) */
    --cor-texto: #F5F5F5; /* Texto claro */
    --cor-destaque: #FF0000; /* Vermelho para títulos ou elementos importantes */
    --cor-links: #FFD700; /* Dourado para links e botões */
    --cor-hover: #00BFFF; /* Azul claro para hover */
    --font-titulos: "Bebas Neue", sans-serif;
    --font-padrao: "Open Sans", sans-serif;
}
header{
    background-color: #1B263B;
}
.cabeca{
    display: flex;
    width: 100%;
    height: 100%;
}
.atual img{
    width: 100%;
    height: 100%;
}
header p{
    font-family: var(--font-padrao);
    color: var(--cor-texto);
    font-size: 1.5rem;
    text-align: justify;
    margin: 20px;
    width: 100%;
    height: auto;
}
header nav{
    background-color: var(--cor-fundo);
    border: 1px solid rgba(0, 0, 0, 0.418);
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}
header nav a{
    font-family: var(--font-titulos);
    color: var(--cor-links);
    text-decoration: none;
    font-size: 2rem;
    padding: 10px;
}
header nav a:hover{
    font-size: 2.5rem;
    color: var(--cor-destaque);
}
header img{
    width: 100%;
    height: auto;
}
body{
    background-color: var(--cor-fundo);
    font-family: var(--font-padrao);
    color: var(--cor-texto);
    font-size: 1.5rem;
}
body p{
    text-align: left;
    padding: 20px;
    width: 100%;
    height: 100%;
}
body img{
    width: 100%;
    height: auto;
}
strong{
    color: var(--cor-destaque)
}
#sobre-infancia{
    background-image: url(fotos-arnold/arnold-infancia.png);
    background-size: cover;
    background-position: center top;
    display: flex;
}
@media (min-width: 1200px){
    #sobre-infancia{
        width: 30%;
        height: auto;
        margin: 0 auto;
        background-position: center top;
        background-color: #F5F5F5;
    }
}
@media (max-width: 1200px){
    #sobre-infancia{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}
#fisioculturimo{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
}
#hollywood{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
}
#governo{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
}
footer p{
    background-color: #1B263B;
    color: var(--cor-texto);
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}
footer p a{
    text-decoration: none;
    color: white;
}
footer p a:hover{
    text-decoration: underline;
    cursor: pointer;
}