@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
:root {
    --cor-fundo: #1A1A1A; /* Fundo escuro (grafite) */
    --cor-texto: #F5F5F5; /* Texto claro */
    --cor-destaque: #FF0000; /* Vermelho para títulos ou elementos importantes */
    --cor-links: #FFD700; /* Dourado para links e botões */
    --font-titulos: "Bebas Neue", sans-serif;
    --font-padrao: "Open Sans", sans-serif;
}

body header h1{
    background-color: var(--cor-fundo);
    font-family: var(--font-titulos);
    color: var(--cor-destaque);
    text-align: center;
    margin: 20px;
}
body{
    background-color: var(--cor-fundo);
}
body a{
    text-decoration: none;
    color: var(--cor-links);
}
body a:hover{
    text-decoration: underline; 
}
body h1{
    font-family: var(--font-titulos);
    color: var(--cor-links);
    text-align: center;
    padding-top: 20px;
}
body p{
    font-family: var(--font-padrao);
    color: var(--cor-texto);
    font-size: 1.5rem;
    padding: 20px;
    text-align: justify;
}
body img{
    width: 100%;
    height: auto;
}
.voltar{
    display: inline-block;
    width: 100%;
    max-width: 100px;
}
.voltar img:hover{
    padding: 5px;
}
