@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --fundo-principal: #E3F2FD;
    --fundo-secundario: #FFFFFF; 
}

body{
    background: linear-gradient(to bottom, #E3F2FD,#FFFFFF);
    background-repeat: no-repeat;
}

body div.tema h1{
    color: #0D47A1;
    text-align: center;
    margin-top: 40%;
    margin-bottom: 20px;
}

main{
    background-color: var(--fundo-secundario);
    border-radius: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.329);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}

main form{
    
}