@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

/* Tipical Device Breakpoints
Smaller smartphones: de 0 a 480px
Tablet e Larger Smartphones: de 481px até 768px
Laptops, larger tablets in landscape, and small desktops: de 769 até 1279px 
Larger desktops and monitors: acima de 1280px
*/

/* Paleta de cores   
    header - footer rgb(90, 46, 166)
    botões #e60026
*/
header {
    background-color: rgb(90, 46, 166);
    color: white;
    font-weight: bold;
    height: 350px;
}

header menu {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}

header menu h1 {
    font-family: "Fredoka", sans-serif;
    font-size: 2rem;
    display: block;
    margin: auto;
}

header menu a {
    font-family: "Baloo 2", sans-serif;
    text-decoration: none;
    color: white;
    display: block;
    margin: auto;
}

header menu a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

header section {
    display: flex;
    justify-content: space-between;
    height: 210px;
}

header div.frase {
    width: 100%;
    height: 100%;
    margin: 40px;
}

header div.frase h1 {
    font-family: "Baloo 2", sans-serif;
}

header div.imagem {
    width: 100%;
    height: 100%;
    background-image: url(imagens/cookies-e-chocolates\ .png);
    background-size: cover;
    border-radius: 10px;
}

header button{
    font-family: "Baloo 2", sans-serif;
    background-color: #E60026;
    color: white;
    padding: 10px;
    margin: 40px;
    border-radius: 5px;
    border: none;
}

header button a {
    text-decoration: none;
    color: white;
}

header button a:hover {
    color: rgb(90, 46, 166);
    transition: 0.5s;
}

main section#historia {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 100%;
}

main section div.img {
    background-image: url(imagens/pessoas-conversando.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100%;
    border-radius: 10px;
    margin-left: 10px;
}

main section div.sobre {
    width: 100%;
    height: 100%;
}

main section div.sobre h2 {
    font-family: "Baloo 2", sans-serif;
    margin-bottom: 10px;
}

main section div.sobre p {
    margin-bottom: 20px;
}

main section.produtos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

main section.produtos article button {
    margin-top: 10px;
}

main h2.produ {
    margin-left: 10px;
    font-family: "Baloo 2", sans-serif;
}

main section.produtos article {
    margin: 10px;
}

main div.biscoito {
    background-image: url(imagens/biscoito.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 100%;
    border-radius: 5px 5px 0px 0px;
}

main div.balas {
    background-image: url(imagens/balas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 100%;
    border-radius: 5px 5px 0px 0px;
}

main div.chocolate {
    background-image: url(imagens/chocolates.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 100%;
    border-radius: 5px 5px 0px 0px;
}

main div.texto {
    width: 100%;
    height: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.030);
}

main div.texto h3 {
    font-family: "Baloo 2", sans-serif;
    text-align: center;
    padding: 10px;
}

main div.texto p {
    text-align: center;
    padding-bottom: 10px;
}

main section.susten {
    margin-top: 150px;
    margin-left: 10px;
}

main section.susten p {
    color: darkgreen;
    text-align: center;
    text-transform: uppercase;
    font-family: "Baloo 2", sans-serif;
    font-size: 1.5rem;
    margin: 20px;

}

footer {
    background-color: rgb(90, 46, 166);
    color: white;
    font-family: "Baloo 2", sans-serif;
    text-align: center;
}

footer a {
    text-decoration: none;
    cursor: pointer;
    color: #e60026;
}

footer a:hover {
    text-decoration: underline;
}

.botao {
    background-color: rgb(90, 46, 166);
    display: block;
    margin: auto;
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.botao a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.botao a:hover {
    color: #E60026;
    transition: 0.5s;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    header menu h1 {
        font-size: 3rem;
    }

    header menu a {
        font-size: 1.5rem;
    }

    header div.frase {
        width: 100%;
        height: 100%;
        margin-top: 80px;
    }

    header div.imagem {
        width: 100%;
        height: 140%;
        background-image: url(imagens/cookies-e-chocolates\ .png);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }
    
    header button{
        margin-top: 0px;
    }

    main section#historia{
        background-image: url(imagens/Sobre-mondelez.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 250px;
        width: 95%;
        border-radius: 10px;
    }

    main section div.sobre{
        height: 100px;
        width: 100%;
        margin-left: 10px;

        background-color: rgba(0, 0, 0, 0.61);
        border-radius: 10px;
        text-align: center;
        margin-top: 50px;
        color: white;
    }

    main section div.img {
    background-image: url(imagens/pessoas-conversando.jpg);
    background-size: cover;
    background-position: top center;
    height: 250px;
    width: 100%;
    border-radius: 0px 10px 10px 0px;
    }

}