@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fundo-principal: #e50914;
    --texto: #ffffff;
    --texto-inverso: #0d0d0d;
    --destaque: #ffcc00;
    /*para botões*/
    --destaque-inverso: #b38f00;
    --fundo-card: #f5f5f5;
    --fonte-texto: "Montserrat", sans-serif;
    /*Bold para títulos e padrão para textos*/
}

body {
    font-family: var(--fonte-texto);
}

header nav#menu {
    background-color: var(--fundo-principal);
    height: 100px;
    width: 100%;

    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr;
}

nav#menu div.logo {
    grid-area: 1 / 1 / 2 / 2;
}

nav#menu div.logo img {
    max-width: 150px;
    max-height: 100%;
}

nav#menu div#opcoes {
    font-size: 1.5rem;
    font-weight: bold;

    display: flex;
    justify-content: space-around;
    align-items: center;

    grid-area: 1 / 2 / 2 / 3;
}

div#opcoes div:hover{
    transition: 0.5s;
    color: var(--texto);
    cursor: pointer;
}

main section#topo{
    background-color: var(--fundo-principal);
    font-weight: bold;
    color: var(--texto);
    text-align: center;

    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

section#topo div.imagem{
    grid-area: 1 / 2 / 3 / 3;
    margin-bottom: 5px;
}

section#topo div.imagem img{
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.329);

    height: 100%;
    width: 100%;
}

section#topo div.frase{
    font-size: 1rem;
    line-height: 1.5em;

    display: block;
    margin: auto;
}

section#topo div.button input{
    background-color: var(--destaque-inverso);
    border-radius: 5px;
    padding: 5px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.349);
    font-size: 0.7em;
}

div.button input:hover{
    color: var(--texto);
    transition: 0.5s;
    cursor: pointer;
}

section#historia{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

section#historia div.imagem2{
    grid-area: ;
}


/*


#menu div{
    color: var(--texto);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--fonte)
}

#menu div:hover{
    cursor: pointer;
    color: var(--texto-inverso);
    transition: 0.5s;
}*/

@media screen and (min-width:0px) and (max-width: 350px) {
    nav#menu div#opcoes{
    flex-flow: column nowrap;
    }
}    

@media screen and (min-width: 0px) and (max-width: 767px) {
    header nav#menu {
    height: 100px;
    width: 100vw;

    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px;
    }

    nav#menu div.logo img {
    max-width: 100px;
    height: 100%;
    
    display: block;
    margin: auto;
    }

    header nav#menu div#opcoes div{
        font-size: 1rem;
    }
}